<ion-item
  *ngIf="slide?.icon"
  [routerLink]="'/slide/' + slide?.id"
  [detail]="false"
>
  <div slot="start"></div>
  <img [src]="'../../assets/icon/'+slide?.icon+'.png'" style="width: 2em;"> &nbsp;&nbsp;&nbsp;
  <ion-label class="ion-text-wrap">
    <h2>
      {{ slide?.title }}
      <span class="date">
        <ion-icon
          aria-hidden="true"
          name="chevron-forward"
          size="small"
        ></ion-icon>
      </span>
    </h2>
    <!-- <p>{{ slide?.subject }}</p> -->
  </ion-label>
</ion-item>
